# Игнорируем временные файлы PyInstaller
temp/
build/
dist/

# Игнорируем виртуальное окружение Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы настроек PyInstaller
*.spec

# Настройки и логирование
log/
har_and_cookies/
conversations.json
settings.json